@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

@media screen and (min-width: 768px) and (max-width: 992px) {

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Roboto', sans-serif;
        color: rgba(0, 0, 0, 0.685);
    }
    
    .cabecalho-celular {
        display: none;
    }
    
    .cabecalho {
        display: flex;
        align-items: center;
        height: 15vh;
        width: 100vw;
        background: #3ca55c88;
        padding: 2vh 2vw;
        border-bottom: 2px solid black;
        margin-bottom: 2vh;
    }
    
    .cab-imagens {
        display: flex;
        width: 20vw;
    }
    
    #logo  {
        width: 70px;
    }
    
    .cab-links {
        width: 80vw;
    }
    
    
    .link-cabecalho {
        width: 50px;
    }
    
    .link-cabecalho:hover {
        border-top: 2px solid black;
    }
    
    
    .cab-links {
        display: flex;
        justify-content: space-around;
    }
    
    section {
        display: flex;
        justify-content: center;
    }
    
    .conteudo {
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(255, 255, 255, 0.747);
        height: 82vh;
        width: 100vw;
   
    }
    
    .con-texto {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 65vh;
        width: 24vw;
        margin-right: 4vw;
        text-align: center;
    
    }
    
    h1 {
        font-size: 2em;
        margin-bottom: 1vh;
    }
    
    h2 {
        font-size: 1em;
    }

    #botao {
        background: green;
        color: whitesmoke;
        padding: 15px;
        margin-top: 10vh;
        border-radius: 10px;
        cursor: pointer;
    }
    
    h3 {
        font-size: 0.8em;
        margin-top: 15vh;
        font-style: italic;
    }
    
    
    .con-imagem {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 65vh;
        width: 70vw;
    }
    
    #img-capa {
        height: 60vh;
        width: 70vw;
        border-radius: 5px;
        box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.253);
    }   

    .con-imagem-cel {
        display: none;
    }


}